@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.register-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background-text {
  position: absolute;
  font-size: 20rem;
  font-weight: bold;
  color: rgba(145, 92, 172, 0.37);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #915cac, #4fb5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.37;
  z-index: 0; 
}

.register-content {
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.register-btn {
  background: #4fb5f5;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}
